#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-flow: auto;
  max-width: 100vw;
  gap: 15px;
  margin-top: 15px;
}

aside {
  background-color: black;
  overflow: hidden;
}